
<div class="fc">
  <div class="fc-toolbar fc-header-toolbar">
    <div class="fc-left">
      <h2>
        <i *ngIf="error" class="text-danger ti-alert"></i>
        {{schedule?.name}}
        <app-inline-loading cssClass="lds-ellipsis" [enabled]="loading"></app-inline-loading>
      </h2>
    </div>
    <div class="fc-clear"></div>
  </div>
</div>

<div>
<div #scheduleView class="schedule"></div>
</div>

<swal
  #temperatureDialog
  title="Set temperature"
  type="question"
  [showCancelButton]="true">

  <form *swalPartial (ngSubmit)="submitTemperature(setTemperatureForm)" #setTemperatureForm="ngForm">

    <div class="form-group">
      <label for="tempDialogTemperature">Temperature</label>
      <input [(ngModel)]="temperatureForm.temperature" #temperature="ngModel"
             type="number" name="temperature" class="form-control" id="tempDialogTemperature" placeholder="Enter desired temperature">
    </div>

    <div>
      <label>Sensors</label>
    </div>

    <div class="form-group">
      <div *ngFor="let sensor of sensors" class="custom-control custom-checkbox">
        <input [(ngModel)]="sensor.checked" #sensor_checked="ngModel"
               type="checkbox" name="sensor_{{sensor.id}}" class="custom-control-input" id="tempDialogSensor_{{sensor.id}}">
        <label class="custom-control-label" for="tempDialogSensor_{{sensor.id}}">{{sensor.id}}</label>
      </div>
    </div>

    <div>
      <label>Devices</label>
    </div>

    <div class="form-group">
      <div *ngFor="let device of devices" class="custom-control custom-checkbox">
        <input [(ngModel)]="device.checked" #device_checked="ngModel"
               type="checkbox" name="device_{{device.id}}" class="custom-control-input" id="tempDialogDevice_{{device.id}}">
        <label class="custom-control-label" for="tempDialogDevice_{{device.id}}">{{device.name}}</label>
      </div>
    </div>

  </form>

</swal>
