
<div class="schedule-header">
  <h2>
    <i *ngIf="error" class="text-danger ti-alert"></i>
    {{schedule?.name}}
    <app-inline-loading *ngIf="loading" cssClass="lds-ellipsis"></app-inline-loading>
    <button *ngIf="!loading" (click)="editSchedule()" class="btn btn-sm btn-secondary"><i class="ti-pencil"></i></button>
  </h2>
</div>

<div>
<div #scheduleView class="schedule"></div>
</div>

<div class="schedule-footer">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button [disabled]="loading" (click)="commitActive()" type="button" class="btn btn-primary">Persist</button>
    <button [disabled]="loading" (click)="rollbackActive()" type="button" class="btn btn-danger">Reset</button>
  </div>
</div>

<swal
  #temperatureDialog
  i18n-title
  title="Set temperature"
  customClass="temperature-form"
  cancelButtonColor="#d33"
  cancelButtonText="Delete"
  [showCloseButton]="true"
  [showCancelButton]="true">

  <form *swalPartial (ngSubmit)="submitTemperature(setTemperatureForm)" #setTemperatureForm="ngForm">

    <div class="form-group">
      <label for="tempDialogTemperature" i18n>Temperature</label>
      <input [(ngModel)]="temperatureForm.temperature" #temperature="ngModel"
             type="number" name="temperature" class="form-control" id="tempDialogTemperature" i18n-placeholder placeholder="Desired temperature">
    </div>

    <div>
      <label i18n>Sensors</label>
    </div>

    <div class="form-group">
      <div *ngFor="let sensor of sensors" class="custom-control custom-checkbox">
        <input [(ngModel)]="sensor.checked" #sensor_checked="ngModel"
               type="checkbox" name="sensor_{{sensor.id}}" class="custom-control-input" id="tempDialogSensor_{{sensor.id}}">
        <label class="custom-control-label" for="tempDialogSensor_{{sensor.id}}">{{sensor.id}} <i *ngIf="sensor.icon" class="fas fa-{{sensor.icon}}"></i></label>
      </div>
    </div>

    <div>
      <label i18n>Devices</label>
    </div>

    <div class="form-group">
      <div *ngFor="let device of devices" class="custom-control custom-checkbox">
        <input [(ngModel)]="device.checked" #device_checked="ngModel"
               type="checkbox" name="device_{{device.id}}" class="custom-control-input" id="tempDialogDevice_{{device.id}}">
        <label class="custom-control-label" for="tempDialogDevice_{{device.id}}">{{device.name}}</label>
      </div>
    </div>

    <div class="form-group">
      <label for="tempDialogOrder" i18n>Order</label>
      <input [(ngModel)]="temperatureForm.order" #order="ngModel"
             type="number" name="order" class="form-control" id="tempDialogOrder" aria-describedby="tempDialogOrderHelp" i18n-placeholder placeholder="Setting priority order">
      <small id="tempDialogOrderHelp" class="form-text text-muted" i18n>The lesser, the more important. Set to zero and setting will disappear when time ends.</small>
    </div>

  </form>

</swal>

<swal
  #scheduleDialog
  i18n-title
  title="Edit program"
  customClass="schedule-form"
  [showCancelButton]="true">

  <form *swalPartial (ngSubmit)="submitSchedule(editScheduleForm)" #editScheduleForm="ngForm">

    <div class="form-group">
      <label for="schedDialogName" i18n>Name</label>
      <input [(ngModel)]="scheduleForm.name" #name="ngModel"
             type="text" name="name" class="form-control" id="schedDialogName" i18n-placeholder placeholder="Schedule short name">
    </div>

    <div class="form-group">
      <label for="schedDialogDescription" i18n>Description</label>
      <input [(ngModel)]="scheduleForm.description" #description="ngModel"
             type="text" name="description" class="form-control" id="schedDialogDescription" i18n-placeholder placeholder="Schedule description">
    </div>

  </form>

</swal>
