.fc-event.fc-temperature {
  font-weight: bold;
  font-size: 14px;

  .fc-bg {
    background: none;
    opacity: 1;
  }
}

.schedule-footer {
  padding: 20px;
  background-color: $default-white;
  border: 1px solid $border-color;
}
