<h3>
  <i class="c-indigo-500 ti-bar-chart"></i>&nbsp;<ng-container i18n>Statistics</ng-container>
</h3>

<div class="row pos-r">

  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

  <div class="card card-temperature-readings">
    <img src="assets/static/images/temp_chart.png" class="card-img-top" alt=""/>
    <div class="card-body">
      <h5 class="card-title">Temperature</h5>
      <p class="card-text">A quick view of temperature readings over time.</p>
      <a routerLink="/stats/temp_readings" class="btn btn-primary">Open</a>
    </div>
  </div>

  </div>

</div>
