<!-- i18n -->

<form class="form-inline">
    <label for="inputTargetTemp_{{$ctrl.behavior.pipeline_id}}_{{$ctrl.behavior.order}}"
           class="form-control-label mr-sm-2 mb-2">
        Forza temperatura
    </label>

    <div class="input-group mb-2">
        <input ng-model="$ctrl.behavior.config.target_temperature" type="number" step="0.5"
               class="form-control"
               id="inputTargetTemp_{{$ctrl.behavior.pipeline_id}}_{{$ctrl.behavior.order}}"
               ng-change="restoreInputGroup('btnTargetTemp_'+$ctrl.behavior.pipeline_id+'_'+$ctrl.behavior.order)"
               placeholder="Temperatura" />
        <div class="input-group-append">
            <button id="btnTargetTemp_{{$ctrl.behavior.pipeline_id}}_{{$ctrl.behavior.order}}" type="button"
                    ng-click="save(successInputGroup('btnTargetTemp_'+$ctrl.behavior.pipeline_id+'_'+$ctrl.behavior.order))"
                    class="btn btn-outline-secondary">
                <i class="fa fa-save"></i>
            </button>
        </div>
    </div>
</form>
