<form class="form-inline">
    <label for="inputTargetTemp_{{$ctrl.behavior.order}}"
           class="form-control-label mr-sm-2 mb-2">
        {{ 'pipelines.force_temperature.title' | translate }}
    </label>

    <input ng-model="$ctrl.behavior.config.target_temperature" type="number" step="0.5"
           class="form-control mb-2 mr-sm-2"
           id="inputTargetTemp_{{$ctrl.behavior.order}}"
           ng-change="restoreInputGroup('btnTargetTemp_'+$ctrl.behavior.order)"
           placeholder="{{ 'misc.temperature' | translate }}" />

    <label for="inputTime_{{$ctrl.behavior.order}}"
           class="form-control-label mr-sm-2 mb-2">
        {{ 'pipelines.force_temperature_until.until' | translate }}
    </label>

    <!-- TODO to make this type="time" model must be a Date object -->
    <input ng-model="$ctrl.behavior.config.time" type="text"
           class="form-control mb-2 mr-sm-2"
           size="6"
           ng-change="restoreInputGroup('btnTargetTemp_'+$ctrl.behavior.order)"
           id="inputTime_{{$ctrl.behavior.order}}"/>

    <button id="btnTargetTemp_{{$ctrl.behavior.order}}" type="button"
            ng-click="save(successInputGroup('btnTargetTemp_'+$ctrl.behavior.order))"
            title="{{ 'misc.save' | translate }}"
            class="btn btn-outline-secondary mb-2 mr-sm-2">
        <i class="fa fa-save"></i>
    </button>

</form>
