<div class="modal-header">
    <h5 class="modal-title">{{ 'misc.temperature' | translate }}</h5>
    <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cancel()" aria-label="{{ 'misc.close' | translate }}">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <input ng-model="$ctrl.temperature" type="number" step="0.5"
           class="form-control"
           placeholder="{{ 'misc.temperature' | translate }}" />
</div>
<div class="modal-footer">
    <button ng-click="$ctrl.cancel()" type="button" class="btn btn-default" data-dismiss="modal">{{ 'misc.cancel' | translate }}</button>
    <button ng-click="$ctrl.ok()" type="button" class="btn btn-primary">{{ 'misc.ok' | translate }}</button>
</div>
