<!-- TODO i18n -->

<div class="row">
    <div class="col-lg-12">
        <h4>{{ $ctrl.pipeline.name }}
            <span ng-show="$ctrl.active && !$ctrl.editing" class="btn-group" role="group">
                <button type="button" class="btn btn-secondary btn-sm" title="Edit" ng-click="beginEditMode()">
                    <i class="fa fa-edit"></i>
                </button>
                <button type="button" class="btn btn-primary btn-sm" title="Persist" ng-click="commit()">
                    <i class="fa fa-download"></i>
                </button>
            </span>
            <button ng-hide="$ctrl.editing || $ctrl.active"  type="button" class="btn btn-secondary btn-sm" title="Edit" ng-click="beginEditMode()">
                <i class="fa fa-edit"></i>
            </button>
            <button ng-show="$ctrl.editing"  type="button" class="btn btn-secondary btn-sm" title="Save" ng-click="endEditMode()">
                <i class="fa fa-check"></i>
            </button>
        </h4>
    </div>
</div>

<div class="row" ng-hide="$ctrl.editing" ng-repeat="behavior in $ctrl.pipeline.behaviors">
    <behavior-view class="col-lg-12" pipeline-id="$ctrl.active ? 'active' : $ctrl.pipeline.id" behavior="behavior"></behavior-view>
</div>

<div class="row" ng-show="$ctrl.editing">
    <div class="col-lg-12">
        <ul class="list-group" dnd-list="$ctrl.pipeline.behaviors">
            <li ng-repeat="behavior in $ctrl.pipeline.behaviors"
                class="list-group-item"
                dnd-draggable="behavior"
                dnd-moved="$ctrl.pipeline.behaviors.splice($index, 1)"
                dnd-effect-allowed="move">
                <dnd-nodrag>
                    <behavior-preview behavior="behavior" on-delete="deleteBehavior(behavior)"></behavior-preview>
                </dnd-nodrag>
            </li>

            <li class="dndPlaceholder list-group-item"></li>
        </ul>
    </div>
</div>
