<!-- TODO i18n -->

<div class="row">
    <div class="col-lg-12">
        <h4>
            {{ $ctrl.pipeline.name }}
            <button type="button" class="btn btn-secondary btn-sm" title="Edit" ng-click="beginEdit()">
                <i class="fa fa-edit"></i>
            </button>
        </h4>
    </div>
</div>

<div class="row" ng-hide="$ctrl.editing" ng-repeat="behavior in $ctrl.pipeline.behaviors">
    <behavior-view class="col-lg-12" behavior="behavior"></behavior-view>
</div>

<div class="row" ng-show="$ctrl.editing" ng-repeat="behavior in $ctrl.pipeline.behaviors">
    <behavior-preview class="col-lg-12" behavior="behavior"></behavior-preview>
</div>
