<h3>
  <i class="c-orange-500 ti-pulse"></i>
  Sensors
  <a style="vertical-align: text-bottom" class="btn btn-sm btn-primary"
     title="New"
     routerLink="/sensors/create"><i class="ti-plus"></i></a>
</h3>

<div class="row gap-20 pos-r">

  <app-inline-loading *ngIf="loading" cssClass="lds-ellipsis"></app-inline-loading>
  <div class="col-md-3 text-center sensor-box" *ngFor="let sensor of sensors">
    <div class="bgc-white p-20 bd">
      <a routerLink="/sensors/{{sensor.id}}"><img src="assets/static/images/temperature.png" alt=""/></a>
      <div class="mT-20">
        <h6 class="c-grey-900">{{sensor.id}}</h6>
        <h6 *ngIf="sensor.type=='temperature' && temp_readings"
            class="c-grey-900">{{temp_readings[sensor.id] | temp_unit}}</h6>
      </div>
    </div>
  </div>

</div>
