<div class="sidebar">
  <div class="sidebar-inner">
    <div class="sidebar-logo">
      <div class="peers ai-c fxw-nw">
        <div class="peer peer-greed">
          <a class="sidebar-link td-n" routerLink="/">
            <div class="peers ai-c fxw-nw">
              <div class="peer">
                <div class="logo"><img src="assets/static/images/logo.png" alt=""/></div>
              </div>
              <div class="peer peer-greed"><h5 class="lh-1 mB-0 logo-text">Thermorasp</h5></div>
            </div>
          </a>
        </div>
        <div class="peer">
          <div class="mobile-toggle sidebar-toggle">
            <a (click)="toggle()" href="javascript:void(0)" class="td-n"><i class="ti-arrow-circle-left"></i></a>
          </div>
        </div>
      </div>
    </div>

    <ul class="sidebar-menu scrollable pos-r">
      <li class="nav-item mT-30">
        <a class='sidebar-link' routerLink="/dashboard">
                        <span class="icon-holder">
                          <i class="c-blue-500 ti-home"></i>
                        </span>
          <span class="title" i18n>Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a class='sidebar-link' routerLink="/devices">
                        <span class="icon-holder">
                          <i class="c-green-500 ti-plug"></i>
                        </span>
          <span class="title" i18n>Devices</span>
        </a>
      </li>
      <li class="nav-item">
        <a class='sidebar-link' routerLink="/sensors">
                        <span class="icon-holder">
                          <i class="c-orange-500 ti-pulse"></i>
                        </span>
          <span class="title" i18n>Sensors</span>
        </a>
      </li>
      <li class="nav-item">
        <a class='sidebar-link' routerLink="/schedules">
                        <span class="icon-holder">
                          <i class="c-deep-orange-500 ti-calendar"></i>
                        </span>
          <span class="title" i18n>Schedule</span>
        </a>
      </li>
      <li class="nav-item">
        <a class='sidebar-link' routerLink="/stats">
                        <span class="icon-holder">
                          <i class="c-indigo-500 ti-bar-chart"></i>
                        </span>
          <span class="title" i18n>Statistics</span>
        </a>
      </li>
      <li class="nav-item">
        <a class='sidebar-link' routerLink="/eventlog">
                        <span class="icon-holder">
                          <i class="c-purple-500 ti-book"></i>
                        </span>
          <span class="title" i18n>Event Log</span>
        </a>
      </li>
    </ul>

  </div>
</div>
