<h3>
  <i class="c-deep-orange-500 ti-calendar"></i>&nbsp;<ng-container i18n>Schedule</ng-container>
</h3>

<div class="row gap-20 pos-r">

  <div class="col-lg-12">
    <app-schedule-view (onResetComplete)="onResetComplete()" #schedule></app-schedule-view>
  </div>

</div>

<div class="row gap-20 pos-r">


  <div class="col-lg-12">
    <h5 i18n>Saved schedules</h5>
    <app-inline-loading *ngIf="loading" cssClass="lds-ellipsis"></app-inline-loading>
    <table *ngIf="!loading" class="table table-sm table-bordered table-striped">
      <thead>
      <tr>
        <th i18n>Name</th>
        <th i18n>Description</th>
        <th i18n>Enabled</th>
      </tr>
      </thead>

      <tbody>
        <tr *ngFor="let schedule of schedules">
          <td>{{schedule.name}}</td>
          <td>{{schedule.description}}</td>
          <td>{{schedule.enabled}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
